* {
    margin: 0;
    padding: 0;
}

.page-grid {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 20fr 1fr;
}

/*------------------------------------------------------Header*/
header {
    background: red;
    display: grid;
}

h1 {
    justify-self: center;
    align-self: center;
    font-size: 6vw;
}

h1 a {
    text-decoration: none;
    color: black;
}

/*------------------------------------------------------Game board*/
.game-container {
    background: orange;
    display: grid;
    grid-auto-rows: 8fr 2fr;
}

.board-container h2,
.board-container p {
    padding-top: 10%;
    text-align: center;
}

.game-board {
    width: 100%;
    height: 100%;
}

.score-container {
    background: yellow;
    text-align: center;
    display: grid;
}

.score-container .timer-container,
.score-container .score-text {
    align-self: center;
    justify-self: center;
    height: auto;
}

.tile {
    border: none;
    background-image: url('../images/question.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.solved {
    background-image: url('../images/tick.jpg');
}

/*------------------------------------------------------Buttons*/
.button-container {
    height: 100%;
    width: 100%;
    display: grid;
}

.button-group {
    height: 80%;
    width: 90%;
    align-self: center;
    justify-self: center;
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
}

#buttons-right {
        display: none;
    }

/*------------------------------------------------------Footer*/
footer {
    background: green;
}

/*------------------------------------------------------Media Query*/
@media(min-width: 992px) {
    h1 {
        font-size: 36px;
    }

    .game-container {
        grid-template-columns: 7fr 3fr;
    }

    .button-group {
        height: 33%;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #buttons-right {
        display: inline-block;
    }

    #buttons-below {
        display: none;
    }
}