* {
    margin: 0;
    padding: 0;
}

.page-grid {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 20fr 1fr;
}

/*------------------------------------------------------Header*/
header {
    background: red;
    display: grid;
}

h1 {
    justify-self: center;
    align-self: center;
}

/*------------------------------------------------------Game board*/
.game-container {
    background: orange;
    display: grid;
    /* grid-template-columns: 8fr 2fr;*/
    grid-auto-rows: 8fr 2fr;
}

.game-board {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.score-container {
    background: yellow;
}

td {
    text-align: center; 
    vertical-align: middle;
}

.tile {
    border: none;
    background: url('../images/question.jpg') center no-repeat;
    background-size: 100%;
}

.solved {
    background: url('../images/tick.jpg') center no-repeat;
}

/*------------------------------------------------------Footer*/
footer {
    background: green;
}

/*------------------------------------------------------Media Query*/
@media(min-width: 512px) {
    .game-container {
        grid-template-columns: 8fr 2fr;
    }
}